In [1]:
import requests, time, json, re
from bs4 import BeautifulSoup
import pandas as pd
from tqdm import tqdm
# Disable chardet debug messages
import logging
logging.getLogger().setLevel(logging.WARNING)
import urllib3
urllib3.disable_warnings(urllib3.exceptions.InsecureRequestWarning)
headers = {'user-agent': 'Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36',
               'referer': 'https://google.com', 
              }
from metadata import MovieMetadata as mm
import os
os.getcwd()

'/home/jupyter/movie-analysis'

In [3]:
!pip install pandarallel -qq

In [4]:
from pandarallel import pandarallel
import multiprocessing
cpu_count = multiprocessing.cpu_count()
print(cpu_count)
pandarallel.initialize(nb_workers=cpu_count-1,
                       progress_bar=True,
                       use_memory_fs=False
                      )

16
INFO: Pandarallel will run on 15 workers.
INFO: Pandarallel will use standard multiprocessing data transfer (pipe) to transfer data between the main process and workers.

In [5]:
def get_all(row):
    film = row['film']
    return mm(film).combine_all()

# KR

In [6]:
kr = pd.read_pickle('data/kr_film.pkl')
kr.shape

(11651, 2)

In [15]:
%%time
kr['meta'] = kr.parallel_apply(get_all, axis=1)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=777), Label(value='0 / 777'))), HB…

my-country-the-new-age error
le-sserafim-company error
CPU times: user 16.5 s, sys: 4.03 s, total: 20.5 s
Wall time: 7min 38s

In [16]:
kr.info()
kr.to_pickle('data/kr_meta.pkl')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11651 entries, 0 to 11650
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   film    11651 non-null  object
 1   rate    1536 non-null   float64
 2   meta    11649 non-null  object
dtypes: float64(1), object(2)
memory usage: 273.2+ KB

In [ ]:
# my-country-the-new-age error
# le-sserafim-company error

In [8]:
kr = pd.read_pickle('kr_meta.pkl')
kr.shape, kr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11651 entries, 0 to 11650
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   film    11651 non-null  object
 1   rate    1536 non-null   float64
 2   meta    11649 non-null  object
dtypes: float64(1), object(2)
memory usage: 273.2+ KB

((11651, 3), None)

In [11]:
kr[kr.meta.isna()]

                                film  rate  meta
7937   /film/my-country-the-new-age/  3.63  None
10646     /film/le-sserafim-company/   NaN  None

In [17]:
kr['meta'][7937] = mm(kr['film'][7937]).combine_all()
kr['meta'][10646] = mm(kr['film'][10646]).combine_all()
kr['meta'][7937], kr['meta'][10646]

/tmp/ipykernel_326/3677374784.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kr['meta'][7937] = mm(kr['film'][7937]).combine_all()
/tmp/ipykernel_326/3677374784.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kr['meta'][10646] = mm(kr['film'][10646]).combine_all()

({'title': 'My Country: The New Age',
  'year': 2019.0,
  'director': 'Kim Jin-won',
  'desc': 'Set during the turbulent time of the fall of Goryeo and the founding of Joseon, two former friends face-off against one another over a woman and the future shape of the nation.',
  'cast': ['Yang Se-jong',
   'Woo Do-hwan',
   'Kim Seol-hyun',
   'Jang Hyuk',
   'Kim Yeong-cheol',
   'Park Ye-jin',
   'Yu Oh-seong',
   'Jang Young-nam',
   'Ji Seung-hyun',
   'In Gyo-jin'],
  'Director': ['Kim Jin-won'],
  'Writer': ['Chae Seung-dae'],
  'Studios': ['Celltrion Entertainment', 'SLL'],
  'Country': ['South Korea'],
  'Language': ['Korean'],
  'Alternative Titles': ['Meu país: a nova era, Mon Pays, Naui Nara, Mi pais. La nueva generación, Țara mea: O nouă eră, Моя страна: Новая эпоха, Моя страна, Моя страна. Новый век, 我的國家, Má země: Nový věk, Η Χώρα μου: Η Νέα Εποχή, Entre Dinastías: La Nueva Era, המדינה שלי, Az új kor, 私の国, 나의 나라, Meu País: A Nova Era, Quê Hương Ta: Thời Đại Mới - My Country: The New Age, 我的王国, 我的王國'],
  'Genre': ['drama'],
  'Themes': ['Epic history and literature',
   'Epic heroes',
   'War and historical adventure',
   'historical, epic, battle, historic or fought',
   'martial arts, kung fu, choreography, cool or action-packed',
   'swords, adventure, fantasy, battle or epic',
   'war, soldiers, combat, military or fought',
   'shakespearean, kings, battle, breathtaking or epic',
   'Show All…'],
  'runtime': None,
  'imdb_id': 'tt10850888',
  'tmdb_id': '93490',
  'watched_by': '478',
  'listed_by': '201',
  'liked_by': '144',
  'rating': 3.63,
  'rated_by': 298.0,
  'poster': 'https://a.ltrbxd.com/resized/film-poster/7/8/4/3/4/0/784340-my-country-the-new-age-0-230-0-345-crop.jpg?v=554b4cfc58'},
 {'title': 'Le Sserafim Company',
  'year': 2022.0,
  'director': None,
  'desc': None,
  'cast': ['Sakura Miyawaki',
   'Kim Chae-won',
   'Huh Yun-jin',
   'Kazuha Nakamura',
   'Hong Eun-chae'],
  'Country': ['South Korea'],
  'Language': ['Korean'],
  'Alternative Titles': ['르세라핌 컴퍼니, LE SSERAFIM COMPANY'],
  'Genre': ['comedy'],
  'runtime': 102.0,
  'imdb_id': None,
  'tmdb_id': '206218',
  'watched_by': '42',
  'listed_by': '9',
  'liked_by': '9',
  'rating': None,
  'rated_by': None,
  'poster': 'https://a.ltrbxd.com/resized/film-poster/9/3/3/1/3/3/933133-le-sserafim-company-0-230-0-345-crop.jpg?v=51a603b1e5'})

In [18]:
kr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11651 entries, 0 to 11650
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   film    11651 non-null  object
 1   rate    1536 non-null   float64
 2   meta    11651 non-null  object
dtypes: float64(1), object(2)
memory usage: 273.2+ KB

In [19]:
import os
os.getcwd()

'/home/jupyter/movie-analysis'

In [20]:
kr.to_pickle('data/kr_meta.pkl')

# CN

In [17]:
cn = pd.read_pickle('data/cn_film.pkl')
cn.shape, cn.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28304 entries, 0 to 28303
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   film    28304 non-null  object
 1   rate    1691 non-null   float64
dtypes: float64(1), object(1)
memory usage: 442.4+ KB

((28304, 2), None)

In [18]:
%%time
cn['meta'] = cn.parallel_apply(get_all, axis=1)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=1887), Label(value='0 / 1887'))), …

Connection refused by the server..
the-tender-age error
film:771681 error
the-secret-of-immortal error
to-capture-a-mockingbird error
CPU times: user 31 s, sys: 8.44 s, total: 39.5 s
Wall time: 31min 19s

In [19]:
# the-tender-age error
# film:771681 error
# the-secret-of-immortal error
# to-capture-a-mockingbird error
cn.info()
cn.to_pickle('data/cn_meta.pkl')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28304 entries, 0 to 28303
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   film    28304 non-null  object
 1   rate    1691 non-null   float64
 2   meta    28300 non-null  object
dtypes: float64(1), object(2)
memory usage: 663.5+ KB

In [21]:
cn = pd.read_pickle('data/cn_meta.pkl')
cn[cn['meta'].isna()]

                                  film  rate  meta
877                 /film/film:771681/   NaN  None
11034  /film/to-capture-a-mockingbird/   NaN  None
18394    /film/the-secret-of-immortal/   NaN  None
23782            /film/the-tender-age/   NaN  None

In [23]:
for idx in [877,11034,18394,23782]:
    cn['meta'][idx] = mm(cn['film'][idx]).combine_all()

/tmp/ipykernel_326/2142929435.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cn['meta'][idx] = mm(cn['film'][idx]).combine_all()

In [24]:
cn[cn['meta'].isna()]

Empty DataFrame
Columns: [film, rate, meta]
Index: []

In [25]:
cn.to_pickle('data/cn_meta.pkl')

# JP

In [20]:
jp = pd.read_pickle('data/jp_film.pkl')
jp.shape, jp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34689 entries, 0 to 34688
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   film    34689 non-null  object
 1   rate    4005 non-null   float64
dtypes: float64(1), object(1)
memory usage: 542.1+ KB

((34689, 2), None)

In [21]:
%%time
jp['meta'] = jp.parallel_apply(get_all, axis=1)

VBox(children=(HBox(children=(IntProgress(value=0, description='0.00%', max=2313), Label(value='0 / 2313'))), …

Connection refused by the server..
unending-advance error
ninja-gangsters-extorting-from-the-bad error
Connection refused by the server..
tropical-rouge-precure error
real-tragedy-video-2 error
CPU times: user 38.6 s, sys: 10.9 s, total: 49.5 s
Wall time: 38min 13s

In [22]:
# unending-advance error
# ninja-gangsters-extorting-from-the-bad error
# tropical-rouge-precure error
# real-tragedy-video-2 error
jp.info()
jp.to_pickle('data/jp_meta.pkl')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34689 entries, 0 to 34688
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   film    34689 non-null  object
 1   rate    4005 non-null   float64
 2   meta    34685 non-null  object
dtypes: float64(1), object(2)
memory usage: 813.1+ KB

In [26]:
jp = pd.read_pickle('data/jp_meta.pkl')
jp[jp.meta.isna()]

                                                film  rate  meta
616                          /film/unending-advance/   NaN  None
7621   /film/ninja-gangsters-extorting-from-the-bad/   NaN  None
22838                    /film/real-tragedy-video-2/   NaN  None
31558                  /film/tropical-rouge-precure/   NaN  None

In [31]:
for i in [616,7621,22838,31558]:
    jp['meta'][idx] = mm(jp['film'][idx]).combine_all()

/tmp/ipykernel_326/2136725604.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jp['meta'][idx] = mm(jp['film'][idx]).combine_all()

In [33]:
jp.meta[616] = mm(jp.film[616]).combine_all()

/tmp/ipykernel_326/4186003049.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jp.meta[616] = mm(jp.film[616]).combine_all()

In [35]:
jp.meta[7621] = mm(jp.film[7621]).combine_all()

/tmp/ipykernel_326/436667804.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jp.meta[7621] = mm(jp.film[7621]).combine_all()

In [37]:
jp.meta[22838] = mm(jp.film[22838]).combine_all()
jp.meta[31558] = mm(jp.film[31558]).combine_all()

/tmp/ipykernel_326/2152505019.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jp.meta[22838] = mm(jp.film[22838]).combine_all()
/tmp/ipykernel_326/2152505019.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jp.meta[31558] = mm(jp.film[31558]).combine_all()

In [40]:
jp[jp.meta.isna()]

Empty DataFrame
Columns: [film, rate, meta]
Index: []

In [41]:
jp.to_pickle('data/jp_meta.pkl')